/* main styles will go here */
body {
  background: url("../Project1/images/background.jpg");
  background-repeat: no-repeat;
  font-family: 'Lora', serif;
  font-weight: bold;
}

button,
.shade {
  box-shadow: 5px 5px 5px black;
}
button{
  opacity:0.85;
}
#intro{
  padding:200px;
}

@media screen and (max-width:400px) {
  #intro {
    padding:0px;
  }
}
