/* main styles will go here */
body {
  background: url("../Project1/images/background.jpg");
  background-repeat: no-repeat;
  font-family: 'Lora', serif;
  font-weight: bold;

}

button,
.shade {
  box-shadow: 5px 5px 5px black;
}