/* main styles will go here */
body {
  background: url("../Project1/images/background.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  font-family: 'Lora', serif;
  font-weight: bold;
}

button,
.shade,
.img-thumbnail {
  box-shadow: 5px 5px 5px black;
}
button{
  opacity:0.85;
}
#intro{
  padding:200px;
}
.img-thumbnail{
  width:200px;
  height:200px;
}
.results{
  display:flex;
  flex-wrap:wrap;
}
.modal-content{
  
  opacity:0.90;
  background-color:steelblue;
  font-weight:bold;
  width:400px fit-content;


}
#imageParagraph{
  
  color:white;
  text-shadow:black 10px 10px 10px;
}
#intro,
.explanation,
#area{
  text-shadow:black 10px 10px 10px;
}
ul{
  background-color:#952a10;
  opacity:0.90;
}
#map {
  width: 400px;
  height: 400px;
  background-color: grey;
}
@media screen and (max-width:500px) {
  #intro {
    padding:200px 0px 0px 0px;
  }
  
  #area{
    width:fit-content;
  }
  .results{
  display:block;
  flex-wrap:nowrap;
  }
  #city{
    width:100%;
  }
}
/*site made to be mobile responsive /
